/* All elements on page RESET */

/* TODO Fix the buttons */
/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

/* START - BASE STYLES */
body {
  background-color: #afc0cb;
  font-family: "Livvic", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.page {
  flex: 1;
}
/* END - BASE STYLES */

/* START - HEADER STYLES */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.header__content {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  margin: 0 auto;
  padding: 0 30px;
}

.header .logo .logo__img {
  height: 50px;
  display: block;
}

.header .nav .navlist {
  column-gap: 40px;
  display: flex;
}

.header .navitem .navlink {
  /* color: rgba(255, 255, 255, 0.75); */
  color: rgba(51, 59, 67, 0.75);
  font-size: 14px;
  transition: all, 0.4s;
  position: relative;
}
.header .navitem .navlink:hover,
.header .navitem .navlink:focus {
  color: rgba(51, 59, 67, 1);
}
.header .navitem .navlink::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(51, 59, 67, 1);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

.header .navitem .navlink:hover::after {
  opacity: 1;
}

.header .navitem .btn {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  background-color: #62717c;
  padding: 10px 16px;
  border-radius: 1000px;
  font-weight: 500;
  transition: all 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header .navitem .btn:focus,
.header .navitem .btn:hover {
  background-color: #4e5b64;
  color: rgba(255, 255, 255, 1);
}

.big_section {
  height: 2000px;
}

/* END - HEADER STYLES */

/* START - FOOTER STYLES */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  background-color: white;
  color: rgba(51, 59, 67, 0.75);
  min-height: 200px;
  align-items: center;
}

.footer__content {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 20px;
}

.footer .footer__top {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer .footer__links {
  display: flex;
}

.footer .footer__links .list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 148px;
  height: 148px;
}

.footer .footer__links .list li {
  margin-bottom: 10px;
  font-size: 16px;
  transition: all, 0.4s;
}

.footer .footer__links .list li:hover,
.footer .footer__links .list li:focus {
  color: rgba(51, 59, 67, 1);
}

.footer .icons {
  padding: 14px 0;
  display: flex;
  gap: 9px;
}

.footer .logo .logo__img {
  height: 50px;
  display: block;
}

@media (max-width: 768px) {
  .footer .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer .footer__links .list {
    flex-direction: column;
    gap: 15px;
  }
}

/* END - FOOTER STYLES */