<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Morrison Mediation Contact</title>
    <!-- TODO: add dynamic style generation -->
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="header">
      <script>
        fetch("../templates/header.html")
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("header").innerHTML = data;
          });
      </script>
    </div>

    <!-- //wrapper -->

    <div class="contact-wrapper">
      <div class="contact-top">
        <h1>Get in touch</h1>
        <p>
          We will contact you to discuss our transformative learning solutions
          that are built to scale along organizational and individual needs.
        </p>
      </div>

      <div class="contact-content">
        <div class="contact-item">
          <p class="contact-p">First Name <span class="required">*</span></p>
          <div class="contact-box">
            <input type="text" placeholder="First Name" required />
          </div>
        </div>
        <div class="contact-item">
          <p class="contact-p">Last Name <span class="required">*</span></p>
          <div class="contact-box">
            <input type="text" placeholder="Last Name" required />
          </div>
        </div>
        <div class="contact-item">
          <p class="contact-p">Email <span class="required">*</span></p>
          <div class="contact-box">
            <input type="email" placeholder="Email" required />
          </div>
        </div>
        <div class="contact-item">
          <p class="contact-p">Phone Number <span class="required">*</span></p>
          <div class="contact-box">
            <input type="tel" placeholder="Phone Number" required />
          </div>
        </div>
        <div class="contact-item-long">
          <p class="contact-p">
            Send us a message <span class="required">*</span>
          </p>
          <div class="contact-box-long">
            <textarea placeholder="Send us a message" required></textarea>
          </div>
        </div>
        <a href="#" class="btn">Submit</a>
      </div>
    </div>

    <div id="footer">
      <script>
        fetch("../templates/footer.html")
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("footer").innerHTML = data;
          });
      </script>
    </div>
  </body>
</html>
